@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exploring Chart.js</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>
    .container {
        width: 100%;
        height: 100%;
    }
</style>
<body>
    @*<div class="container" id="userInput">*@
    <form class="form-inline" method="post">
        @*<h5>@Html.Raw(ViewData["confirmation"])</h5>*@
        @*<form class="form-horizontal" method="post">*@
        @*<div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit">Forecast</button>
                </div>
            </div>*@
        @*class="btn btn-default"*@
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="userMonth">Month</label>
                    <select name="userMonth">
                        @*<option value="">Select a Month</option>*@
                        <option selected="selected" value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="userYear">Year</label>
                    <select name="userYear" style="width:8em;">
                        @*<option value="">Select a Year</option>*@
                        <option value="2019">2019</option>
                        <option selected="selected" value="2020">2020</option>
                        @*<option value="2021">2021</option>*@
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="userDuration">Duration</label>
                    <select name="userDuration">
                        <option selected="selected" value="1">1 Month</option>
                        <option value="2">2 Months</option>
                        <option value="3">3 Months</option>
                        <option value="4">4 Months</option>
                        <option value="5">5 Months</option>
                        <option value="6">6 Months</option>
                        <option value="7">7 Months</option>
                        <option value="8">8 Months</option>
                        <option value="9">9 Months</option>
                        <option value="10">10 Months</option>
                        <option value="11">11 Months</option>
                        <option value="12">12 Months</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-inline" style="margin-top:1.25em;">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit">Forecast</button>
            </div>
        </div>
    </form>
    <div class="col-sm-offset-2 col-sm-10">
        <button id="renderBtn" style="margin-top:1.25em;">
            Render Chart
        </button>
    </div>
    <div class="row">
        <h5 class="col-4" style="color:blue;font-family:Tahoma;margin-top:1.25em;">@Html.Raw(ViewData["confirmation"])</h5>
        <div class="col-8">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    @*</div>*@

    @*<div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Forecast</button>
            </div>
        </div>*@

    @*<select name="userDay">
            <option value="">Select a day</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>*@

    @*<select name="userDayRevenue">
            <option value="">Select the day's revenue</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>*@

    @*<H2>Smart Distribution Systems @DateTime.Now</H2>*@
    @*<br />
        <br />*@
    @*<canvas id="myChart" width="400" height="400"></canvas>*@
    @*<div style="width: 55%;
                margin-left: auto;
                margin-right: auto;">
            <canvas id="myChart" width="500" height="400"></canvas>
        </div>*@
    @*<h5 style="color:blue;font-family:Tahoma;margin-top:0em;">@Html.Raw(ViewData["confirmation"])</h5>*@
    @*<style>
            .container {
                /*margin: auto;
                padding: 3em 1em 5em 10em;*/
                width: 80%;
                height: 80%;
            }
        </style>*@
    @*<div id="MyComponent">

            @(await Html.RenderComponentAsync<MyComponent>(RenderMode.ServerPrerendered))
        </div>*@
    @*<h5 style="color:blue;font-family:Tahoma;">@Html.Raw(ViewData["confirmation"])</h5>*@
    @*<button id="renderBtn">
            Render Chart
        </button>
        <div class="container" style="padding:0em 0em 0em 20em;">
            <canvas id="myChart"></canvas>
        </div>*@

    <!-- Button to Open the Modal -->
    @*<div class="row">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            BUG HUNT
        </button>

         The Modal 
        <div class="modal" id="myModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                     Modal Header 
                    <div class="modal-header">
                        <h4 class="modal-title">Bug Hunt Procedures</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                     Modal body 
                    <div class="modal-body">
                        <b>Intro:</b> There are three primary factors to bear in mind while testing this system-<br />
                        1. The model is not designed to make predictions more than approximately 18 months from the end of the training data (July 2018), nor would it be prudent to do so. Consequently, only 2019 and 2020 are available as prediction options.<br />
                        2. The revenue forecasts made prior to this system often erred in excess of one-hundred thousand dollars in a month. Consequently, it is worth noting that the prediction engine is returning a 98% R-Squared value and we believe our furthest outlier is within an acceptable margin of error.<br />
                        3. The application's list buttons have been set to default values (rather than "enter variable" messages) to avert unnecessary error handling code & dialog boxes.<br />
                        <br />
                        <b>Procedures:</b><br />
                        <b>[Test A]</b><br />
                        1. Press "Forecast" button. (Did a January 2020 prediction appear? $262613.70)<br />
                        2. Press "Render Graph". (Did a graph of historical data appear next to the prediction output?)<br />
                        3. Hover cursor over graph points. (Did the exact figure of previous revenue appear for comparison?)<br />
                        <b>[Test B]</b><br />
                        1. Change duration to "6 months" & press "Forecast". (Did the application make 6 predictions?)<br />
                        2. Repeat step 1. (Did the application make the same 6 predictions to ensure consistency?)<br />
                        3. Press "Render Graph". (Did 2020 predictions seem reasonable against the historical data?)<br />
                        4. Change the year to "2019" & press "Forecast". (Did the application return 6 entirely new predictions?)<br />
                        5. Press "Render Graph". (Did 2019 predictions seem reasonable against the historical data?)<br />
                        <b>[Test C]</b><br />
                        1. Change month to "September", year to "2019", duration to "12 months", and press "Forecast".<br />
                        (a. Did the application return 12 predictions?)<br />
                        (b. Did the predictions seem reasonable against the historical data?)<br />
                        Bonus!  (c. Did the predictions list appropriately from Sept. 2019 to Aug. 2020?)<br />
                        <b>[Test D]</b><br />
                        1. Press "X" in upper right hand corner to exit. (Did application close out just like an internet tab?)<br />
                    </div>

                     Modal footer 
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>*@
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="./myChart.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>